form {
  .field {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;

    label {
      font-size: x-small;
    }

    input[type=text], textarea {
      border: 1px solid #ccc;
      padding: 4px;
      border-radius: 5px;
    }

    .field_with_errors {
      input {
        border-color: red;
      }
    }
  }
}